@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Navbar css */
  .text-animate {
    @apply font-sans overflow-hidden bg-no-repeat;
    background: linear-gradient(90deg, #2957ae, #fff, #4ea1d5);
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }

  .nav-link {
    @apply cursor-pointer caret-transparent duration-300 transition-colors ease-in-out hover:delay-200 relative;
  }

  .btn-primary {
    @apply bg-inherit border px-4 rounded-lg transition-colors duration-300 ease-in-out hover:border-Purple hover:bg-slate hover:delay-75 text-Teal hover:text-white;
  }

  .btn-secondary {
    @apply text-white font-sans px-4 py-1 rounded-lg border border-transparent bg-slate transition-colors duration-300 ease-in-out hover:border-Purple;
  }

  /* Hero Section */


  /* Auto scroll */
  .scroll-container {
    @apply w-full overflow-hidden whitespace-nowrap;
  }

  .scroll-content {
    @apply inline-flex;
    animation: scroll 20s linear infinite;
  }

  .scroll-item {
    @apply w-[150px] h-16 mx-1 bg-white flex justify-center items-center text-center rounded-xl;
  }
}




@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-80%);
  }
}

@keyframes reverse-scroll {
  0% {
    transform: translateX(-80%);
  }

  100% {
    transform: translateY(0);
  }
}