@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@447&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

@layer components {
  .text-animate {
    @apply font-sans overflow-hidden bg-no-repeat;
    background: linear-gradient(90deg, #2957ae, #fff, #4ea1d5);
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }



  .btn-primary {
    @apply bg-inherit border px-4 rounded-lg transition-colors duration-300 ease-in-out
    group-hover:border-Purple group-hover:bg-slate group-hover:delay-75
     hover:border-Purple hover:bg-slate hover:delay-75 text-Teal hover:text-white;
  }

  .btn-secondary {
    @apply text-stone-400 hover:text-white font-sans px-4 
    py-1 rounded-lg border border-transparent bg-slate transition-colors group-hover:border-Purple
     duration-300 ease-in-out hover:border-Purple;
  }



.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 447;
  font-style: normal;
}


.playwrite-gb {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
.gotu-regular {
  font-family: "Gotu", sans-serif;

}


}






@keyframes animate {
  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}

